{:duct.database.sql/hikaricp
 {:jdbc-url "jdbc:postgresql://localhost:5432/api"
  :username "api"
  :password "password"}

 :duct.migrator/ragtime
 {:migrations [#ig/ref :migration/create_account_table]}
 [:duct.migrator.ragtime/sql :migration/create_account_table]
 {:up ["CREATE TABLE roles (id serial PRIMARY KEY, name VARCHAR(10) NOT NULL UNIQUE);CREATE TABLE accounts (id uuid PRIMARY KEY, name VARCHAR(20) NOT NULL, password VARCHAR(100) NOT NULL, email VARCHAR(100) NOT NULL UNIQUE, role_id INTEGER NOT NULL, FOREIGN KEY (role_id) REFERENCES roles(id) ON UPDATE CASCADE);"]
  :down ["DROP TABLE roles; DROP TABLE accounts;"]}}
